html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-weight: bold;
    scroll-behavior: smooth;
    background: radial-gradient(circle, rgb(97, 0, 0), rgb(0, 0, 0));
}

nav {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: rgb(48, 1, 1);
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 1.5rem;
}

img {
    margin: 20px;
}

p {
    color: rgb(255, 255, 255);
}

.fundo_masp {
    background-image: url("../Imagens/fundo_masp.png");
}

.fundo_masp {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

table {
    margin: auto;
    font-size: 0.75rem;
    width: 90%;
}

select {
    font-size: 20px;
    border: none;
}

#MASP {
    position: relative;
    top: 0
}

#MASP:hover {
    top: -4px;
    box-shadow: 0 4px 4px rgb(209, 189, 189);
    transition: all .4s ease-in
}

#Pinacoteca {
    position: relative;
    top: 0
}

#Pinacoteca:hover {
    top: -4px;
    box-shadow: 0 4px 4px rgb(255, 255, 255);
    transition: all .4s ease-in
}

#MIS {
    position: relative;
    top: 0
}

#MIS:hover {
    top: -4px;
    box-shadow: 0 4px 4px rgb(255, 255, 255);
    transition: all .4s ease-in
}

#Futebol {
    position: relative;
    top: 0
}

#Futebol:hover {
    top: -4px;
    box-shadow: 0 4px 4px rgb(255, 255, 255);
    transition: all .4s ease-in
}

#Catavento {
    position: relative;
    top: 0
}

#Catavento:hover {
    top: -4px;
    box-shadow: 0 4px 4px rgb(255, 255, 255);
    transition: all .4s ease-in
}

#AfroBrasil {
    position: relative;
    top: 0
}

#AfroBrasil:hover {
    top: -4px;
    box-shadow: 0 4px 4px rgb(255, 255, 255);
    transition: all .4s ease-in
}

#MAM {
    position: relative;
    top: 0
}

#MAM:hover {
    top: -4px;
    box-shadow: 0 4px 4px rgb(255, 255, 255);
    transition: all .4s ease-in
}

#Memorial {
    position: relative;
    top: 0
}

#Memorial:hover {
    top: -4px;
    box-shadow: 0 4px 4px rgb(255, 255, 255);
    transition: all .4s ease-in
}

#Rosas {
    position: relative;
    top: 0
}

#Rosas:hover {
    top: -4px;
    box-shadow: 0 4px 4px rgb(255, 255, 255);
    transition: all .4s ease-in
}

#Santander {
    position: relative;
    top: 0
}

#Santander:hover {
    top: -4px;
    box-shadow: 0 4px 4px rgb(255, 255, 255);
    transition: all .4s ease-in
}

.destaque {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    color: rgb(0, 0, 0);
    background-color: rgb(48, 1, 1);
    color: rgb(223, 223, 223);
    padding: 10px;
    width: 40%;
    font-size: 1rem;
    filter: drop-shadow(4px 9px gainsboro);
    margin: auto;
}

.destaque_subtitulo {
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
    background-color: rgb(48, 1, 1);
    color: rgb(223, 223, 223);
    padding: 10px;
    width: 70%;
    font-size: 1rem;
    filter: drop-shadow(4px 9px gainsboro);
    margin: auto;
}

.destaque_titulo {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    color: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(97, 0, 0), rgb(0, 0, 0));
    padding: 20px;
    width: 97%;
    font-size: 2rem;
    filter: drop-shadow(2px 9px gainsboro);
    margin: auto;
}

.destaque_categoria_ingresso {
    position: absolute;
    left: 0;
    right: 0;
    top: 105%;
    background-color: rgb(48, 1, 1);
    color: rgb(223, 223, 223);
    padding: 20px;
    width: 97%;
    font-size: 2rem;
    filter: drop-shadow(2px 9px gainsboro);
    margin: auto;
}

.destaque_compra {
    position: absolute;
    left: 0;
    right: 0;
    top: 175%;
    color: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(97, 0, 0), rgb(0, 0, 0));
    padding: 20px;
    width: 97%;
    font-size: 2rem;
    filter: drop-shadow(2px 9px gainsboro);
    margin: auto;
}

.ingresso {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: inherit;
    color: rgb(0, 0, 0);
    width: 100%;
    margin: 10px auto;
}

.ingresso_categoria {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(97, 0, 0), rgb(0, 0, 0));
    width: 100%;
    margin: 10px auto;
}

#email_compra,
#CPF,
#texto,
#telefone,
#nome,
#datahora {
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 12px 12px 40px;
    margin-bottom: 20px;
}

#nome {
    background-image: url("../Imagens/user_peq.png");
}

#email_compra {
    background-image: url("../Imagens/correio_peq.png");
}

#CPF {
    background-image: url("../Imagens/cpf_peq.png");
}

#datahora {
    background-image: url("../Imagens/datetime_peq.png");
}

#telefone {
    background-image: url("../Imagens/phone_peq.png");
}

#texto {
    background-image: url("../Imagens/mensagem_peq.png");
}

form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 30px auto;
}

form p {
    font-weight: normal;
}

label,
.botao {
    background-color: rgb(97, 0, 0);
    color: aliceblue;
}

tr,
th {
    padding: 1.5em;
    margin: 0;
    border: 1px solid #ccc;
    text-align: center;
    color: rgb(255, 255, 255);
	font-size: 1rem;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(48, 1, 1);
    padding: 15px;
}

.foto_museu {
    width: 25%;
}

.lista_museus {
    margin: 100px;
}

.foto_museu {
    width: 30%;
    padding: 10px;
}

@media (min-width: 768px) {
    nav {
        padding: 20px 0px;
    }
    ul {
        padding: 5px;
    }
    li {
        width: 25%;
        float: left;
    }
    li:hover {
        transform: rotate(-5deg);
    }
    a {
        font-size: 1.25rem;
    }
    .destaque {
        padding: 10px;
        font-size: 2rem;
        width: 25%;
        transition: width 1s;
    }
    .destaquehover {
        width: 40%;
    }
    .foto_museu .container {
        flex-wrap: wrap;
    }
    .foto_museu:hover {
        filter: grayscale();
    }
    #email_compra,
    #CPF,
    #texto,
    #telefone,
    #nome,
    #datahora {
        font-size: 1.25rem;
        padding: 12px 20px 12px 50px;
    }
    form {
        width: 50%;
        margin-bottom: 160px;
    }
    .botao {
        width: 50%;
        font-size: 1.25rem;
        padding: 5px;
        border-radius: 4px;
        width: 100%;
        font-family: inherit;
        text-align: center;
        border: none;
        margin-bottom: 20px;
    }
	.botao:hover {
     background-color: rgb(0, 0, 0);
    }
}